﻿@model IEnumerable<LibraryTest_MVC.Models.BorrowT>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakenDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>*@
            <th>
                BookName
            </th>
            <th>
                BookPageCount
            </th>
            <th>
                Student FirstName
            </th>
            <th>
                Student LasttName
            </th>
            <th>
                Student Age
            </th>
            <th>Author Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookPageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentFirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentAge)
            </td>
            
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
