﻿@model LibraryMVCTest_Feb13.Models.BookT

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPageCount" class="control-label"></label>
                <input asp-for="BookPageCount" class="form-control" />
                <span asp-validation-for="BookPageCount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>*@
            <div class="form-group">  
                <label asp-for="Author.AuthorName" class="control-label"></label>
               @* <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>*@
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Listofauthors"></select>
           </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
