﻿@model IEnumerable<LibraryMVCTest_Feb13.Models.BookT>

@{
    ViewData["Title"] = "Index";
}

<h1>List of books available</h1>

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPageCount)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>*@
            <th>
                Author Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPageCount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Author.AuthorId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
